body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #cce6ff, #ffffff);
  margin: 0;
  padding: 0;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #e9ecef;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

input[type="text"] {
  padding: 10px;
  width: 70%;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#map {
  height: 400px;
  margin-top: 20px;
}

#weatherData, #newsData, #spotifyData {
  margin-top: 20px;
  text-align: left;
}

.news-article, .spotify-track {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.news-article img, .spotify-track img {
  max-width: 100%;
  height: auto;
}

h2 {
  margin-top: 20px;
}
#weatherData, #musicRecommendation {
  margin-top: 20px;
}
.hidden {
  display: none;
}
